body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-home {
  background-color: #f15e31 !important;
  color: white;
  font-size: 16px;
}

.btn-home:hover {
  color: white;
}

.btn-color {
  border: 1px solid #f15e31;
  color: #f15e31;
}

.btn-color:hover {
  background-color: #f15e31;
  color: white !important;
}

.btn-destination {
  color: #f15e31;
  border: 1px solid #f15e31;
  transition-duration: 0.2s;
}
.btn-destination:hover {
  background-color: #f15e31;
  color: white;
}

.text-color {
  color: #f15e31 !important;
  font-weight: 500;
}

.hover-text:hover {
  color: #000 !important;
}

.icon-color:hover {
  color: #f15e31 !important;
}

.bg-nav {
  background-color: #858585;
}

.box:hover {
  box-shadow: 5px 5px 15px #949494 !important;
  transition-duration: 0.2s;
}

.rounded-home {
  border-radius: 12px;
}

.rounded-t {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}
